@clr-primary: #00A5C9;
@clr-secondary: #0073C9;
@clr-white: #F0FCFF;
@clr-black: #000405;
@clr-accent: #C90041;

body 
{
   font-family: Helvetica, Arial, sans-serif;
   background-color: @clr-white;
   color: @clr-black;
   margin: 0px;
   padding: 0px;
}

header
{
   background-color: @clr-primary;
   padding: 1em;
}

article
{
   padding: 1em;
}

textarea
{
   width: 100%;
   height: 30em;
   display: block;
   font-family: monospace;
}
