///////////////////////////////////////////////////////////////////////////////
// Colors
@clr-primary: #00A5C9;
@clr-secondary: #0073C9;
@clr-white: #F0FCFF;
@clr-black: #000405;
@clr-accent: #C90041;
///////////////////////////////////////////////////////////////////////////////

* { 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.transition
{
   transition: all 0.4s;
}

///////////////////////////////////////////////////////////////////////////////
// Containing elements
body 
{
   font-family: Helvetica, Arial, sans-serif;
   background-color: @clr-white;
   color: @clr-black;
   margin: 0px;
   padding: 0px;
}

article
{
   padding: 1em;
}

header, footer
{
   background-color: @clr-primary;
   color: @clr-white;
   padding: 1em;
   h1 
   {
      height: 30px;
   }
}

footer
{
   height: 100%;
}

.container
{
   margin: 0px auto;
   width: 1024px;
}
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
#logo
{
   float: left;
   border: none;
}

.alert
{
   color: @clr-primary;
   border: 1px solid @clr-primary;
   padding: 0.5em;
}

img 
{
   max-width: 80%;
   display: block;
   margin: 0 auto;
}

a, a:link
{
   text-decoration: none;
   border: none;
   .transition;
   color: @clr-accent;
   // background-color: fade(@clr-white, 90%);
   &:hover
   {
      // color: lighten(@clr-accent, 20%);
      // border-bottom: 2px solid lighten(@clr-accent, 20%);
      background-color: lighten( @clr-accent, 10% );
      color: @clr-white;
      border: none;
      &:after {
         // width:  0;
         // height: 0;
         // content: "";
         // border-style: solid;
         // border-width: 6px 0 6px 10.4px;
         // border-color: transparent transparent transparent #007bff;
      }
   }
   &:visited
   {
      // color: darken(@clr-accent, 10%);
   }
}

menu
{
   list-style: none;
   li
   {
      display: inline-block;
      a, a:link
      {
         padding: 0.5em!important;
         .transition;
         display: inline-block;

         &:hover
         {
            background-color: lighten( @clr-accent, 10% );
            color: @clr-white;
            border: none;

            // box-shadow: 2px 2px 5px fade(@clr-black, 50%);
         }
      }
   }
}

form 
{
   input[type=text], textarea
   {
      font-family: monospace;
      font-size: 1em;
      border: 2px solid @clr-primary;
      background-color: transparent;
   }
   textarea
   {
      width: 100%;
      height: 30em;
      display: block;
   }
}
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// Icons
i
{
   height: 60px;
   width:  60px;
   display: inline-block;
   margin: 0.5em;
   padding: 0em;
}

.imenu, .iuser, .idocument, .iconsole, .igraph, .irecord, .itam, .ilinks, .ipvlogo, 
#imenu, #iuser, #idocument, #iconsole, #igraph, #irecord, #itam, #ilinks, #ipvlogo, 
.iemail, .iphone, .igit, .istack, .ilinked, #iemail, #iphone, #igit, #istack, #ilinked, i
{
   background-image:  url( '../images/icons.png' );
   background-size:   360px;
   background-repeat: no-repeat;
}

.imenu,     #imenu     { background-position:    0px    0px; }
.irecord,   #irecord   { background-position:  -60px    0px; }
.iuser,     #iuser     { background-position: -120px    0px; }
.idocument, #idocument { background-position: -180px    0px; }
.iconsole,  #iconsole  { background-position: -240px    0px; }
.igraph,    #igraph    { background-position: -300px    0px; }
.itam,      #itam      { background-position:    0px  -60px; }
.ilinks,    #ilinks    { background-position:  -60px  -60px; }
.ipvlogo,   #ipvlogo   { background-position: -120px  -60px; }
.iemail,    #iemail    { background-position: -180px  -60px; }
.iphone,    #iphone    { background-position: -240px  -60px; }
.igit,      #igit      { background-position: -300px  -60px; }
.istack,    #istack    { background-position:    0px -120px; }
.ilinked,   #ilinked   { background-position:  -60px -120px; }
///////////////////////////////////////////////////////////////////////////////